div#header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #295db2;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 105px;
	text-align: center;
}

div#menu
{
	width: 75%;
	margin: 110px auto 0px auto;
}

a
{
	color: #efefef;
	font-weight: 600;
	text-transform: uppercase;
}

a:active
{
	color: #efefef;
}

div#content
{
	width: 75%;
	margin: 50px auto 0px auto;
}

.table
{
	margin: 0 0 20px 0;
	width: 100%;
	# box-shadow: 0 1px 3px rgba(240,240,240,0.2);
	display: table;
}

.row
{
	display: table-row;
	height: 200px;
}

.cell
{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.cell p
{
	text-transform: uppercase;
	font-weight: 600;
}

.cell p span
{
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	padding-left: 0.55em;
	padding-right: 0.55em;
	padding-top: 0.10em;
	padding-bottom: 0.06em;
	border-radius: 15px;
	margin-right: 0.4em;
}

.cell p span.uhd
{
	background: #295db2;
}

.cell p span.badquality
{
	background: #9e0021;
}

.cell p.score
{
	color: #FFFFFF;
	font-weight: 800;
	text-align: center;
	background: #ddddd;
	font-size: 38px;
}

.first
{
	min-width: 180px;
	max-width: 180px;
}

.second
{
	min-width: 500px;
	max-width: 500px;
	margin-right: 20px;
}

p.summary
{
	font-size: 18px;
	color: #cfcfcf;
	line-height: 22px;
	position: relative;
	top: -30px;
	font-weight: 100;
	text-transform: none;
}

.third
{
	min-width: 130px;
	max-width: 130px;
}

.fourth
{
	min-width: 130px;
	max-width: 130px;
}

.fifth
{
	min-width: 60px;
	max-width: 60px;
}

span
{
	display: inline-block;
	vertical-align: middle;
}

body
{
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	color: #efefef;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: #2b2b2b;
}

div.hexagon 
{
	position: absolute;
	left: 0px;
	top: -43px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
	width: 166px;
	height: 287px;
}

div.hexagon-in1 
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

div.hexagon-in2 
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-size: auto 287px;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

div.score 
{
	position: absolute;
	top: 39px;
	left: 8px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
	width: 70px;
	height: 120px;
	z-index: -1;
}

div.score-in1 
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

div.score-in2 
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-size: 100%;
    # background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.bad
{
	# background: linear-gradient(-180deg, #db1427, #9e0021);
	background: #9e0021;
}

.mediocre
{
	# background: linear-gradient(-180deg, #fc8600, #f56000);
	background: #f56000;
}

.good
{
	# background: linear-gradient(-180deg, #295db2, #0e49a7);
	background: #0e49a7;
}

.great
{
	# background: linear-gradient(-180deg, #65c100, #3a8202);
	background: #3a8202;
}

.masterpiece
{
	# background: linear-gradient(-180deg, #65c100, #3a8202);
	background: #4A0282;
}

h1
{
	margin-top: 34px;
	padding: 0px;
	font-size: 48px;
	font-weight: 1200;
    color: #FFFFFF;
	text-transform: uppercase;
}

h2
{
	padding: 0px;
	font-size: 36px;
	font-weight: 900;
    color: #FFFFFF;
	text-transform: uppercase;
	border-bottom: 2px solid #295db2;
	background: #295db2;
	display: inline-block;
	padding: 6px 18px;
	text-align: center;
}

h2:after
{
	left: 0px;
	display: block;
	position: absolute;
	width: 100%;
	height: 9px;
	background: #295db2;
	content: " ";
}

